app-map {
  width: 100%;
  height: 100%;
}

.btn-navigate ion-icon {
  transform: scale(1.2);
}

.btn-settings {
  width: 40px;
  height: 40px;
}

ion-footer ion-button {
  text-transform: none;
  height: 64px;
  width: 110px;
  overflow: hidden;
}

.btn-content {
  .btn-value {
    font-family: monospace, "Courier New", Courier;
    font-size: 2em;
  }
  .btn-text {
    margin-top: 0.2em;
    font-size: 0.8em;
  }
}
