<ion-content [scrollY]="false">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" edge>
    <ion-fab-button (click)="navigateClick()" color="light" class="btn-navigate">
      <ion-icon color="primary" [name]="navIcon"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="menuClick()" color="light" class="btn-settings">
      <ion-icon color="primary" name="menu-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button (touchstart)="bellClick($event)" (click)="bellClick()" color="danger">
      <ion-icon name="notifications"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-map #map [markerDisabled]="isTracking" (mapMove)="onMapDrag()" (mapDblClick)="onMapDblClick()"
    (context)="onContext($event)"></app-map>
</ion-content>

<ion-footer>
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-button>
        <div class="btn-content">
          <div class="btn-value">{{currentSpeed}}</div>
          <div class="btn-text">Speed</div>
        </div>
      </ion-button>
      <ion-button>
        <div class="btn-content">
          <div class="btn-value">{{currentAltitude}}</div>
          <div class="btn-text">Altitude</div>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>