<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateClick()" color="light" class="btn-navigate">
      <ion-icon color="primary" [name]="navIcon"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="mapSettingsClick()" color="light" class="btn-settings">
      <ion-icon color="primary" name="layers-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button (click)="bellClick()" color="danger">
      <ion-icon name="notifications"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="map-container">
    <div #positionMarker class="position-marker" [ngClass]="{ 'disabled': !isTracking }"></div>
    <div #map class="map"></div>
  </div>
</ion-content>