.map-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.map {
  width: 100%;
  height: 100%;
}

.position-marker {
  border-radius: 50%;
  padding: 6px;
  width: 30px;
  height: 30px;
  background-color: rgba(66, 133, 244, 0.2);
}

.position-marker:after {
  border: 2px solid white;
  box-sizing: border-box;
  content: "";
  border-radius: 50%;
  background-color: rgb(66, 133, 244);
  width: 100%;
  height: 100%;
  display: block;
}

.position-marker.disabled {
  background-color: rgba(126, 126, 126, 0.2);
}

.position-marker.disabled:after {
  background-color: rgb(126, 126, 126);
}

.btn-navigate ion-icon {
  transform: scale(1.2);
}

.btn-settings {
  width: 40px;
  height: 40px;
}

ion-footer ion-button {
  text-transform: none;
  height: 64px;
  width: 110px;
  overflow: hidden;
}

.btn-content {
  .btn-value {
    font-family: monospace, "Courier New", Courier;
    font-size: 2em;
  }
  .btn-text {
    margin-top: 0.2em;
    font-size: 0.8em;
  }
}
