<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateClick()" color="light">
      <ion-icon color="primary" [name]="navIcon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="map-container">
    <div class="map-buttons">
      <ion-button (click)="mapSettingsClick()" color="light">
        <ion-icon color="primary" name="layers-outline"></ion-icon>
      </ion-button>
    </div>
    <div #positionMarker class="position-marker" [ngClass]="{ 'disabled': !isTracking }"></div>
    <div #map class="map"></div>
  </div>
</ion-content>