<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="okClick()">Ok</ion-button>
    </ion-buttons>
    <ion-title>Map settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Settings</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Tracking duration</ion-label>
      <ion-select [(ngModel)]="selectedDuration">
        <ion-select-option [value]="d" *ngFor="let d of allDurations">{{d + ' min'}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Storage usage (Mb)</ion-label>
      <ion-text slot="end">{{storageUsage | async}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Tiles in cache</ion-label>
      <ion-text slot="end">{{cacheLength}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Version</ion-label>
      <ion-text slot="end">2022.02.27</ion-text>
    </ion-item>
  </ion-list>
</ion-content>