<ion-list>
  <ion-radio-group [(ngModel)]="selectedMap" (ngModelChange)="selectionChange()">
    <ion-item-divider>
      <ion-label>Available maps</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let map of maps">
      <ion-label>{{map.name}}</ion-label>
      <ion-radio slot="end" [value]="map"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>
<ion-list>
  <ion-item-divider>
    <ion-label>Available paths</ion-label>
  </ion-item-divider>
  <ion-item *ngFor="let path of paths">
    <ion-label>{{path.name}}</ion-label>
    <ion-checkbox slot="end" [checked]="isChecked(path)" (ionChange)="checkedChange(path)"></ion-checkbox>
  </ion-item>
</ion-list>