<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="okClick()">Close</ion-button>
    </ion-buttons>
    <ion-title>Import map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [formGroup]="form">
    <ion-item button detail="false" (click)="browse()">
      <ion-label position="stacked">Style file</ion-label>
      <ion-input readonly formControlName="fileName" placeholder="Select a file" class="no-pointer"></ion-input>
      <ion-input #fileInput type="file" (change)="onFileChange($event)" accept=".json" class="ion-hide"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input placeholder="Enter a name" formControlName="name"></ion-input>
    </ion-item>
    <ion-item lines="none" (click)="importClick()">
      <ion-button shape="round" [disabled]="form.invalid" class="btn-import">Import</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
