/* You can add global styles to this file, and also import other style files */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~ol/ol.css";

body {
    touch-action: none;
    overflow: hidden;
}

.ol-scale-line-inner {
    color: #333 !important;
    border-color: #333;
}

ion-item-divider.ios {
    font-size: 0.8em;
}

ion-content.ios {
    --ion-background-color: var(--ion-color-step-50)
}

ion-list.ios {
    --ion-item-background: var(--ion-color-step-50)
}

.app-overlay-waypoint {
    filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 1px #fff);
    color: var(--ion-color-danger);
    width: 2em;
    height: 2em;
}