<ion-content></ion-content>

<ion-footer>
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-button class="non-clickable">
        <div class="btn-content">
          <div class="btn-value">-</div>
          <div class="btn-text">Speed</div>
        </div>
      </ion-button>
      <ion-button class="non-clickable">
        <div class="btn-content">
          <div class="btn-value">-</div>
          <div class="btn-text">Altitude</div>
        </div>
      </ion-button>
      <ion-button>
        <div class="btn-content">
          <div class="btn-value">-</div>
          <div class="btn-text">Distance</div>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
